flask
python-dotenv
langchain==0.3.27
langchain-community==0.3.27
langchain-groq==0.2.5
chromadb
sentence-transformers
pypdf
python-docx
tiktoken
gunicorn
requests
--extra-index-url https://download.pytorch.org/whl/cpu
torch